html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item.active .nav-link {
  font-weight: 500;
}

@media all and (max-width: 500px) {
  .hero-title {
    font-size: 2rem;
  }
}